@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: $charcoal;
}

h2 {
  color: $PersianGreen;
}

button {
  text-align: center;
  font-size: 1rem;
}
